g-responsive {
  display: block;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

g-table {
  --g-table-color:          rgb(33, 37, 41);
  --g-table-bg:             transparent;
  --g-table-border-color:   #dee2e6;
  --g-table-border-style:   solid;
  --g-table-accent-bg:      transparent;
  --g-table-active-color:   rgb(33, 37, 41);
  --g-table-active-bg:      rgba(0, 0, 0, 0.1);
  --g-table-hover-color:    inherit;
  --g-table-hover-bg:       rgba(0, 0, 0, 0.02);
  --g-table-cell-padding-x: 0.75rem;
  --g-table-cell-padding-y: 0.75rem;

  display: block;
  color: var(--g-table-color);
  border-color: var(--g-table-border-color);
  border-style: var(--g-table-border-style);
  border-width: 0;
  padding: 0;
  margin: 0;
  min-width: fit-content;

  // Ensure inheritance is passed through turbo-frames
  // Else add the class g-table-inherit.
  turbo-frame,
  .g-table-inherit {
    display: block;
    grid-template-columns: inherit;
  }
}

g-thead,
g-tbody,
g-tfoot {
  grid-template-columns: inherit;
  display: block;
  padding: 0;
  margin: 0;
}

g-thead,
g-tbody,
g-tfoot,
g-tr,
g-td,
g-th {
  border-color: var(--g-table-border-color);
  border-style: var(--g-table-border-style);
  border-width: 0;
  text-align: left;
}

g-tr {
  display: grid;
  border-width: 0;
  gap: 0;
  grid-template-columns: inherit;
  border-bottom-width: 1px;
}

g-th,
g-td {
  display: flex;
  overflow: visible;
  align-items: center;
  min-height: 50px;
  white-space: nowrap;
  padding: var(--g-table-cell-padding-y) var(--g-table-cell-padding-x);
  background-color: var(--g-table-bg);
}

.g-table-bordered {
  border-width: var(--g-table-border-color);

  g-td,
  g-th {
    border-left-width: var(--g-table-border-color);
  }

  g-td:first-of-type,
  g-th:first-of-type {
    border-left-width: 0;
  }
}

.g-table-borderless {
  g-td {
    border-width: 0;
  }

  g-tr {
    border-width: 0;
  }
}

.g-table-active {
  background-color: var(--g-table-active-bg);
  color: var(--g-table-active-color);
}

.g-table-hover {
  g-tbody g-tr:hover > * {
    background-color: var(--g-table-hover-bg);
    color: var(--g-table-hover-color);
  }
}

